[Desktop Entry]
Name=DBus runner test
Comment=DBus runner test
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=internet-web-browser
X-KDE-PluginInfo-Author=Some Developer
X-KDE-PluginInfo-Email=kde@example.com
X-KDE-PluginInfo-Name=dbusrunnertest
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus2
X-Plasma-DBusRunner-Service=net.krunnertests.dave
X-Plasma-DBusRunner-Path=/dave
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Syntaxes=syntax1,syntax2
X-Plasma-Runner-Syntax-Descriptions=description1,description2
