[Desktop Entry]
Name=DBus runner test
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-Plasma-Runner-Unique-Results=true
X-Plasma-Runner-Weak-Results=false
