[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Runner

Comment=KRunner plugin
Comment[uk]=Додаток KRunner
Comment[x-test]=xxKRunner pluginxx

[PropertyDef::X-Plasma-AdvertiseSingleRunnerQueryMode]
Type=bool

[PropertyDef::TryExec]
Type=QString

[PropertyDef::X-Plasma-Args]
Type=QStringList

