[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Runner

Comment=KRunner plugin
Comment[ar]=ملحقة «مشغّلك»
Comment[az]=KRunner uzantısı
Comment[bs]=Priključak za KRunner
Comment[ca]=Connector del KRunner
Comment[ca@valencia]=Connector del KRunner
Comment[cs]=Modul KRunneru
Comment[da]=KRunner-plugin
Comment[de]=KRunner-Modul
Comment[el]=Πρόσθετο KRunner
Comment[en_GB]=KRunner plugin
Comment[es]=Complemento para KRunner
Comment[et]=KRunneri plugin
Comment[eu]=KRunner plugina
Comment[fi]=KRunner-liitännäinen
Comment[fr]=Module externe de KRunner
Comment[gd]=Plugan KRunner
Comment[gl]=Complemento KRunner
Comment[hi]=केरनर प्लगइन
Comment[hu]=KRunner bővítmény
Comment[ia]=Plugin de KRunner
Comment[id]=Plugin KRunner
Comment[it]=Estensione di KRunner
Comment[ko]=KRunner 플러그인
Comment[lt]=KRunner papildinys
Comment[mr]=KRunner प्लगइन
Comment[nb]=KRunner-programtillegg
Comment[nds]=KRunner-Moduul
Comment[nl]=KRunner-plugin
Comment[nn]=KRunner-tillegg
Comment[pa]=ਕੇਰਨਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KRunner
Comment[pt]='Plugin' do KRunner
Comment[pt_BR]=Plugin do KRunner
Comment[ro]=Extensie KRunner
Comment[ru]=Расширение KRunner
Comment[sk]=Zásuvný modul pre KRunner
Comment[sl]=Vtičnik za KRunner
Comment[sr]=Прикључак К‑извођача
Comment[sr@ijekavian]=Прикључак К‑извођача
Comment[sr@ijekavianlatin]=Priključak K‑izvođača
Comment[sr@latin]=Priključak K‑izvođača
Comment[sv]=Insticksprogram för Kör program
Comment[tg]=Васлкунаки KRunner
Comment[tr]=KRunner eklentisi
Comment[ug]=KRunner قىستۇرما
Comment[uk]=Додаток до KRunner
Comment[x-test]=xxKRunner pluginxx
Comment[zh_CN]=KRunner 插件
Comment[zh_TW]=KRunner 外掛程式

# TODO KF6 remove
[PropertyDef::X-Plasma-AdvertiseSingleRunnerQueryMode]
Type=bool

[PropertyDef::TryExec]
Type=QString

[PropertyDef::X-Plasma-Args]
Type=QStringList

[PropertyDef::X-Plasma-Api]
Type=QString

[PropertyDef::X-Plasma-DBusRunner-Service]
Type=QString

[PropertyDef::X-Plasma-DBusRunner-Path]
Type=QString

# Request actions only when the plugin is initialized instead
# of each match session, default is false
[PropertyDef::X-Plasma-Request-Actions-Once]
Type=bool

# List of supported syntaxes by this runner, see Plasma::RunnerSyntax
[PropertyDef::X-Plasma-Runner-Syntaxes]
Type=QStringList

# Description for the syntaxes
[PropertyDef::X-Plasma-Runner-Syntax-Descriptions]
Type=QStringList

# Minimum letter count, if the query is shorter than this number the match method will not be called
# unless the runner is called in the single runner mode
# This value defaults to 0
[PropertyDef::X-Plasma-Runner-Min-Letter-Count]
Type=int

# If this regex is set with a not empty pattern it must match the query in order for the performMatch/match being called
# It does not differentiate between the single and normal runner mode
# In case both the regex and the letter count is set the letter count is checked first
[PropertyDef::X-Plasma-Runner-Match-Regex]
Type=QString

# If this property is set to true the RunnerContext will check if a match with the same Id already exists
# if yes it is not added. This also removed the <runnername>_ prefix from the match id.
[PropertyDef::X-Plasma-Runner-Unique-Results]
Type=bool

# If a runner has produced a match with the same id the match will be removed in favor of the other runner's match
[PropertyDef::X-Plasma-Runner-Weak-Results]
Type=bool
