[Desktop Entry]
Name=%{APPNAME}
Name[ca]=%{APPNAME}
Name[ca@valencia]=%{APPNAME}
Name[de]=%{APPNAME}
Name[es]=%{APPNAME}
Name[fi]=%{APPNAME}
Name[it]=%{APPNAME}
Name[nl]=%{APPNAME}
Name[pl]=%{APPNAME}
Name[pt]=%{APPNAME}
Name[pt_BR]=%{APPNAME}
Name[sk]=%{APPNAME}
Name[sl]=%{APPNAME}
Name[sv]=%{APPNAME}
Name[uk]=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Name[zh_CN]=%{APPNAME}
Comment=%{APPNAME} runner
Comment[ca]=Llançador del %{APPNAME}
Comment[ca@valencia]=Llançador del %{APPNAME}
Comment[de]=%{APPNAME}-Starter
Comment[es]=Lanzador de %{APPNAME}
Comment[fi]=%{APPNAME}-suoritusohjelma
Comment[it]=Esecutore di %{APPNAME}
Comment[nl]=%{APPNAME} runner
Comment[pl]=Uruchamianie %{APPNAME}
Comment[pt]=Execução do %{APPNAME}
Comment[pt_BR]=Execução do %{APPNAME}
Comment[sk]=%{APPNAME} runner
Comment[sl]=Zaganjalnik %{APPNAME}
Comment[sv]=Körprogram %{APPNAME}
Comment[uk]=Засіб запуску %{APPNAME}
Comment[x-test]=xx%{APPNAME} runnerxx
Comment[zh_CN]=%{APPNAME} 运行器
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_%{APPNAMELC}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
