[Desktop Entry]
Name=%{APPNAME}
Name[ca]=%{APPNAME}
Name[es]=%{APPNAME}
Name[nl]=%{APPNAME}
Name[pl]=%{APPNAME}
Name[pt]=%{APPNAME}
Name[sv]=%{APPNAME}
Name[uk]=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Comment=%{APPNAME} runner
Comment[ca]=Llançador del %{APPNAME}
Comment[es]=Lanzador de %{APPNAME}
Comment[nl]=%{APPNAME} runner
Comment[pl]=Uruchamianie %{APPNAME}
Comment[pt]=Execução do %{APPNAME}
Comment[sv]=Körprogram %{APPNAME}
Comment[uk]=Засіб запуску %{APPNAME}
Comment[x-test]=xx%{APPNAME} runnerxx
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_%{APPNAMELC}
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
